version: 2
updates:
- package-ecosystem: github-actions
  directory: /
  schedule:
    interval: quarterly
  groups:
    actions-dependencies:
      applies-to: version-updates
      update-types:
      - minor
      - patch
- package-ecosystem: docker
  directory: /
  schedule:
    interval: quarterly
